In [1]:
from langchain_ollama import ChatOllama
from langchain.llms import Ollama
from langchain_ollama.llms import OllamaLLM
from sqlalchemy import exc
import time

In [2]:
from langchain_community.utilities import SQLDatabase
from langchain_core.prompts import ChatPromptTemplate
from langchain_core.output_parsers import StrOutputParser
from langchain_core.runnables import RunnablePassthrough
from langchain_community.utilities import SQLDatabase
from transformers import LlamaTokenizer

In [3]:
template = """Based on the table schema below, write a SQL query that would answer the user's question, return only the sql query and nothing more, no comments:
{schema}
Question: {question}
SQLResult:"""
prompt = ChatPromptTemplate.from_template(template)

In [4]:
database_url = "postgresql+psycopg2://llmuser:123456789@localhost:5432/dvdrental"
db = SQLDatabase.from_uri(database_url)
db.run("SELECT * FROM public.actor ORDER BY actor_id ASC limit 1")

"[(1, 'Penelope', 'Guiness', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))]"

In [6]:
def get_schema(_):
    schema = db.get_table_info()
    return schema
    
def run_query(query):
    return db.run(query)

In [7]:
get_schema('')

"\nCREATE TABLE actor (\n\tactor_id SERIAL NOT NULL, \n\tfirst_name VARCHAR(45) NOT NULL, \n\tlast_name VARCHAR(45) NOT NULL, \n\tlast_update TIMESTAMP WITHOUT TIME ZONE DEFAULT now() NOT NULL, \n\tCONSTRAINT actor_pkey PRIMARY KEY (actor_id)\n)\n\n/*\n3 rows from actor table:\nactor_id\tfirst_name\tlast_name\tlast_update\n1\tPenelope\tGuiness\t2013-05-26 14:47:57.620000\n2\tNick\tWahlberg\t2013-05-26 14:47:57.620000\n3\tEd\tChase\t2013-05-26 14:47:57.620000\n*/\n\n\nCREATE TABLE address (\n\taddress_id SERIAL NOT NULL, \n\taddress VARCHAR(50) NOT NULL, \n\taddress2 VARCHAR(50), \n\tdistrict VARCHAR(20) NOT NULL, \n\tcity_id SMALLINT NOT NULL, \n\tpostal_code VARCHAR(10), \n\tphone VARCHAR(20) NOT NULL, \n\tlast_update TIMESTAMP WITHOUT TIME ZONE DEFAULT now() NOT NULL, \n\tCONSTRAINT address_pkey PRIMARY KEY (address_id), \n\tCONSTRAINT fk_address_city FOREIGN KEY(city_id) REFERENCES city (city_id)\n)\n\n/*\n3 rows from address table:\naddress_id\taddress\taddress2\tdistrict\tcity_id\tpostal_code\tphone\tlast_update\n1\t47 MySakila Drive\tNone\tAlberta\t300\t\t\t2006-02-15 09:45:30\n2\t28 MySQL Boulevard\tNone\tQLD\t576\t\t\t2006-02-15 09:45:30\n3\t23 Workhaven Lane\tNone\tAlberta\t300\t\t14033335568\t2006-02-15 09:45:30\n*/\n\n\nCREATE TABLE category (\n\tcategory_id SERIAL NOT NULL, \n\tname VARCHAR(25) NOT NULL, \n\tlast_update TIMESTAMP WITHOUT TIME ZONE DEFAULT now() NOT NULL, \n\tCONSTRAINT category_pkey PRIMARY KEY (category_id)\n)\n\n/*\n3 rows from category table:\ncategory_id\tname\tlast_update\n1\tAction\t2006-02-15 09:46:27\n2\tAnimation\t2006-02-15 09:46:27\n3\tChildren\t2006-02-15 09:46:27\n*/\n\n\nCREATE TABLE city (\n\tcity_id SERIAL NOT NULL, \n\tcity VARCHAR(50) NOT NULL, \n\tcountry_id SMALLINT NOT NULL, \n\tlast_update TIMESTAMP WITHOUT TIME ZONE DEFAULT now() NOT NULL, \n\tCONSTRAINT city_pkey PRIMARY KEY (city_id), \n\tCONSTRAINT fk_city FOREIGN KEY(country_id) REFERENCES country (country_id)\n)\n\n/*\n3 rows from city table:\ncity_id\tcity\tcountry_id\tlast_update\n1\tA Corua (La Corua)\t87\t2006-02-15 09:45:25\n2\tAbha\t82\t2006-02-15 09:45:25\n3\tAbu Dhabi\t101\t2006-02-15 09:45:25\n*/\n\n\nCREATE TABLE country (\n\tcountry_id SERIAL NOT NULL, \n\tcountry VARCHAR(50) NOT NULL, \n\tlast_update TIMESTAMP WITHOUT TIME ZONE DEFAULT now() NOT NULL, \n\tCONSTRAINT country_pkey PRIMARY KEY (country_id)\n)\n\n/*\n3 rows from country table:\ncountry_id\tcountry\tlast_update\n1\tAfghanistan\t2006-02-15 09:44:00\n2\tAlgeria\t2006-02-15 09:44:00\n3\tAmerican Samoa\t2006-02-15 09:44:00\n*/\n\n\nCREATE TABLE customer (\n\tcustomer_id SERIAL NOT NULL, \n\tstore_id SMALLINT NOT NULL, \n\tfirst_name VARCHAR(45) NOT NULL, \n\tlast_name VARCHAR(45) NOT NULL, \n\temail VARCHAR(50), \n\taddress_id SMALLINT NOT NULL, \n\tactivebool BOOLEAN DEFAULT true NOT NULL, \n\tcreate_date DATE DEFAULT ('now'::text)::date NOT NULL, \n\tlast_update TIMESTAMP WITHOUT TIME ZONE DEFAULT now(), \n\tactive INTEGER, \n\tCONSTRAINT customer_pkey PRIMARY KEY (customer_id), \n\tCONSTRAINT customer_address_id_fkey FOREIGN KEY(address_id) REFERENCES address (address_id) ON DELETE RESTRICT ON UPDATE CASCADE\n)\n\n/*\n3 rows from customer table:\ncustomer_id\tstore_id\tfirst_name\tlast_name\temail\taddress_id\tactivebool\tcreate_date\tlast_update\tactive\n524\t1\tJared\tEly\tjared.ely@sakilacustomer.org\t530\tTrue\t2006-02-14\t2013-05-26 14:49:45.738000\t1\n1\t1\tMary\tSmith\tmary.smith@sakilacustomer.org\t5\tTrue\t2006-02-14\t2013-05-26 14:49:45.738000\t1\n2\t1\tPatricia\tJohnson\tpatricia.johnson@sakilacustomer.org\t6\tTrue\t2006-02-14\t2013-05-26 14:49:45.738000\t1\n*/\n\n\nCREATE TABLE film (\n\tfilm_id SERIAL NOT NULL, \n\ttitle VARCHAR(255) NOT NULL, \n\tdescription TEXT, \n\trelease_year year, \n\tlanguage_id SMALLINT NOT NULL, \n\trental_duration SMALLINT DEFAULT 3 NOT NULL, \n\trental_rate NUMERIC(4, 2) DEFAULT 4.99 NOT NULL, \n\tlength SMALLINT, \n\treplacement_cost NUMERIC(5, 2) DEFAULT 19.99 NOT NULL, \n\trating mpaa_rating DEFAULT 'G'::mpaa_rating, \n\tlast_update TIMESTAMP WITHOUT TIME ZONE DEFAULT now() NOT NULL, \n\tspecial_features TEXT[], \n\tfulltext TSVECTOR NOT NULL, \n\tCONSTRAINT film_pkey PRIMARY KEY (film_id), \n\tCONSTRAINT film_language_id_fkey FOREIGN KEY(language_id) REFERENCES language (language_id) ON DELETE RESTRICT ON UPDATE CASCADE\n)\n\n/*\n3 rows from film table:\nfilm_id\ttitle\tdescription\trelease_year\tlanguage_id\trental_duration\trental_rate\tlength\treplacement_cost\trating\tlast_update\tspecial_features\tfulltext\n133\tChamber Italian\tA Fateful Reflection of a Moose And a Husband who must Overcome a Monkey in Nigeria\t2006\t1\t7\t4.99\t117\t14.99\tNC-17\t2013-05-26 14:50:58.951000\t['Trailers']\t'chamber':1 'fate':4 'husband':11 'italian':2 'monkey':16 'moos':8 'must':13 'nigeria':18 'overcom':\n384\tGrosse Wonderful\tA Epic Drama of a Cat And a Explorer who must Redeem a Moose in Australia\t2006\t1\t5\t4.99\t49\t19.99\tR\t2013-05-26 14:50:58.951000\t['Behind the Scenes']\t'australia':18 'cat':8 'drama':5 'epic':4 'explor':11 'gross':1 'moos':16 'must':13 'redeem':14 'won\n8\tAirport Pollock\tA Epic Tale of a Moose And a Girl who must Confront a Monkey in Ancient India\t2006\t1\t6\t4.99\t54\t15.99\tR\t2013-05-26 14:50:58.951000\t['Trailers']\t'airport':1 'ancient':18 'confront':14 'epic':4 'girl':11 'india':19 'monkey':16 'moos':8 'must':13 \n*/\n\n\nCREATE TABLE film_actor (\n\tactor_id SMALLINT NOT NULL, \n\tfilm_id SMALLINT NOT NULL, \n\tlast_update TIMESTAMP WITHOUT TIME ZONE DEFAULT now() NOT NULL, \n\tCONSTRAINT film_actor_pkey PRIMARY KEY (actor_id, film_id), \n\tCONSTRAINT film_actor_actor_id_fkey FOREIGN KEY(actor_id) REFERENCES actor (actor_id) ON DELETE RESTRICT ON UPDATE CASCADE, \n\tCONSTRAINT film_actor_film_id_fkey FOREIGN KEY(film_id) REFERENCES film (film_id) ON DELETE RESTRICT ON UPDATE CASCADE\n)\n\n/*\n3 rows from film_actor table:\nactor_id\tfilm_id\tlast_update\n1\t1\t2006-02-15 10:05:03\n1\t23\t2006-02-15 10:05:03\n1\t25\t2006-02-15 10:05:03\n*/\n\n\nCREATE TABLE film_category (\n\tfilm_id SMALLINT NOT NULL, \n\tcategory_id SMALLINT NOT NULL, \n\tlast_update TIMESTAMP WITHOUT TIME ZONE DEFAULT now() NOT NULL, \n\tCONSTRAINT film_category_pkey PRIMARY KEY (film_id, category_id), \n\tCONSTRAINT film_category_category_id_fkey FOREIGN KEY(category_id) REFERENCES category (category_id) ON DELETE RESTRICT ON UPDATE CASCADE, \n\tCONSTRAINT film_category_film_id_fkey FOREIGN KEY(film_id) REFERENCES film (film_id) ON DELETE RESTRICT ON UPDATE CASCADE\n)\n\n/*\n3 rows from film_category table:\nfilm_id\tcategory_id\tlast_update\n1\t6\t2006-02-15 10:07:09\n2\t11\t2006-02-15 10:07:09\n3\t6\t2006-02-15 10:07:09\n*/\n\n\nCREATE TABLE inventory (\n\tinventory_id SERIAL NOT NULL, \n\tfilm_id SMALLINT NOT NULL, \n\tstore_id SMALLINT NOT NULL, \n\tlast_update TIMESTAMP WITHOUT TIME ZONE DEFAULT now() NOT NULL, \n\tCONSTRAINT inventory_pkey PRIMARY KEY (inventory_id), \n\tCONSTRAINT inventory_film_id_fkey FOREIGN KEY(film_id) REFERENCES film (film_id) ON DELETE RESTRICT ON UPDATE CASCADE\n)\n\n/*\n3 rows from inventory table:\ninventory_id\tfilm_id\tstore_id\tlast_update\n1\t1\t1\t2006-02-15 10:09:17\n2\t1\t1\t2006-02-15 10:09:17\n3\t1\t1\t2006-02-15 10:09:17\n*/\n\n\nCREATE TABLE language (\n\tlanguage_id SERIAL NOT NULL, \n\tname CHAR(20) NOT NULL, \n\tlast_update TIMESTAMP WITHOUT TIME ZONE DEFAULT now() NOT NULL, \n\tCONSTRAINT language_pkey PRIMARY KEY (language_id)\n)\n\n/*\n3 rows from language table:\nlanguage_id\tname\tlast_update\n1\tEnglish             \t2006-02-15 10:02:19\n2\tItalian             \t2006-02-15 10:02:19\n3\tJapanese            \t2006-02-15 10:02:19\n*/\n\n\nCREATE TABLE payment (\n\tpayment_id SERIAL NOT NULL, \n\tcustomer_id SMALLINT NOT NULL, \n\tstaff_id SMALLINT NOT NULL, \n\trental_id INTEGER NOT NULL, \n\tamount NUMERIC(5, 2) NOT NULL, \n\tpayment_date TIMESTAMP WITHOUT TIME ZONE NOT NULL, \n\tCONSTRAINT payment_pkey PRIMARY KEY (payment_id), \n\tCONSTRAINT payment_customer_id_fkey FOREIGN KEY(customer_id) REFERENCES customer (customer_id) ON DELETE RESTRICT ON UPDATE CASCADE, \n\tCONSTRAINT payment_rental_id_fkey FOREIGN KEY(rental_id) REFERENCES rental (rental_id) ON DELETE SET NULL ON UPDATE CASCADE, \n\tCONSTRAINT payment_staff_id_fkey FOREIGN KEY(staff_id) REFERENCES staff (staff_id) ON DELETE RESTRICT ON UPDATE CASCADE\n)\n\n/*\n3 rows from payment table:\npayment_id\tcustomer_id\tstaff_id\trental_id\tamount\tpayment_date\n17503\t341\t2\t1520\t7.99\t2007-02-15 22:25:46.996577\n17504\t341\t1\t1778\t1.99\t2007-02-16 17:23:14.996577\n17505\t341\t1\t1849\t7.99\t2007-02-16 22:41:45.996577\n*/\n\n\nCREATE TABLE rental (\n\trental_id SERIAL NOT NULL, \n\trental_date TIMESTAMP WITHOUT TIME ZONE NOT NULL, \n\tinventory_id INTEGER NOT NULL, \n\tcustomer_id SMALLINT NOT NULL, \n\treturn_date TIMESTAMP WITHOUT TIME ZONE, \n\tstaff_id SMALLINT NOT NULL, \n\tlast_update TIMESTAMP WITHOUT TIME ZONE DEFAULT now() NOT NULL, \n\tCONSTRAINT rental_pkey PRIMARY KEY (rental_id), \n\tCONSTRAINT rental_customer_id_fkey FOREIGN KEY(customer_id) REFERENCES customer (customer_id) ON DELETE RESTRICT ON UPDATE CASCADE, \n\tCONSTRAINT rental_inventory_id_fkey FOREIGN KEY(inventory_id) REFERENCES inventory (inventory_id) ON DELETE RESTRICT ON UPDATE CASCADE, \n\tCONSTRAINT rental_staff_id_key FOREIGN KEY(staff_id) REFERENCES staff (staff_id)\n)\n\n/*\n3 rows from rental table:\nrental_id\trental_date\tinventory_id\tcustomer_id\treturn_date\tstaff_id\tlast_update\n2\t2005-05-24 22:54:33\t1525\t459\t2005-05-28 19:40:33\t1\t2006-02-16 02:30:53\n3\t2005-05-24 23:03:39\t1711\t408\t2005-06-01 22:12:39\t1\t2006-02-16 02:30:53\n4\t2005-05-24 23:04:41\t2452\t333\t2005-06-03 01:43:41\t2\t2006-02-16 02:30:53\n*/\n\n\nCREATE TABLE staff (\n\tstaff_id SERIAL NOT NULL, \n\tfirst_name VARCHAR(45) NOT NULL, \n\tlast_name VARCHAR(45) NOT NULL, \n\taddress_id SMALLINT NOT NULL, \n\temail VARCHAR(50), \n\tstore_id SMALLINT NOT NULL, \n\tactive BOOLEAN DEFAULT true NOT NULL, \n\tusername VARCHAR(16) NOT NULL, \n\tpassword VARCHAR(40), \n\tlast_update TIMESTAMP WITHOUT TIME ZONE DEFAULT now() NOT NULL, \n\tpicture BYTEA, \n\tCONSTRAINT staff_pkey PRIMARY KEY (staff_id), \n\tCONSTRAINT staff_address_id_fkey FOREIGN KEY(address_id) REFERENCES address (address_id) ON DELETE RESTRICT ON UPDATE CASCADE\n)\n\n/*\n3 rows from staff table:\nstaff_id\tfirst_name\tlast_name\taddress_id\temail\tstore_id\tactive\tusername\tpassword\tlast_update\tpicture\n1\tMike\tHillyer\t3\tMike.Hillyer@sakilastaff.com\t1\tTrue\tMike\t8cb2237d0679ca88db6464eac60da96345513964\t2006-05-16 16:13:11.793280\tb'\\x89PNG\\r\\nZ\\n'\n2\tJon\tStephens\t4\tJon.Stephens@sakilastaff.com\t2\tTrue\tJon\t8cb2237d0679ca88db6464eac60da96345513964\t2006-05-16 16:13:11.793280\tNone\n*/\n\n\nCREATE TABLE store (\n\tstore_id SERIAL NOT NULL, \n\tmanager_staff_id SMALLINT NOT NULL, \n\taddress_id SMALLINT NOT NULL, \n\tlast_update TIMESTAMP WITHOUT TIME ZONE DEFAULT now() NOT NULL, \n\tCONSTRAINT store_pkey PRIMARY KEY (store_id), \n\tCONSTRAINT store_address_id_fkey FOREIGN KEY(address_id) REFERENCES address (address_id) ON DELETE RESTRICT ON UPDATE CASCADE, \n\tCONSTRAINT store_manager_staff_id_fkey FOREIGN KEY(manager_staff_id) REFERENCES staff (staff_id) ON DELETE RESTRICT ON UPDATE CASCADE\n)\n\n/*\n3 rows from store table:\nstore_id\tmanager_staff_id\taddress_id\tlast_update\n1\t1\t1\t2006-02-15 09:57:12\n2\t2\t2\t2006-02-15 09:57:12\n*/"

In [30]:
llmQuery = OllamaLLM(model="mistral-nemo:latest", num_predict = 128, keep_alive = 60, 
                    metadata = {'film': 'is the movies table that contains information about all movies in the database, the title field es the name of the movie, the field release_year is the year of the movie',
                               'customer': 'is the customers table, the field "active" is integer',
                               'inventory': 'is the inventory table, there is a relationship of this table with the store and film tables'},
                    temperature = 0.2)
llmResponse = OllamaLLM(model="hf.co/SanctumAI/Meta-Llama-3.1-8B-Instruct-GGUF:Q6_K", num_predict = 128, keep_alive = 60,
                        temperature = 0.8)

In [31]:
sql_chain = (
    RunnablePassthrough.assign(schema=get_schema)
    | prompt
    | OllamaLLM.bind(stop=["\nSQLResult:", ";"])
    | StrOutputParser()
)

In [32]:
def get_sql(query_chain, user_question):
    return query_chain.invoke({"question": user_question})

In [35]:
user_question = 'give me 3 movies that were released in the year 2006'
get_sql(sql_chain,user_question)

'SELECT title \nFROM film \nWHERE release_year = 2006 LIMIT 3'

In [25]:
template_full = """Based on the table schema below, question, sql query, and sql response, write a natural language response, responds in an attentive and polite manner:
{schema}

Question: {question}
SQL Query: {query}
SQL Response: {response}"""
prompt_response = ChatPromptTemplate.from_template(template_full)

In [526]:
"""
def responses(vars):
    print(vars)
    return run_query(vars["query"])

def chain_executor(question, query_chain):
    full_chain = (
        RunnablePassthrough
            .assign(query=query_chain)
            .assign(
                schema=get_schema,
                response=responses,
        )
        | prompt_response
        | llmQuery
    )
    resp = full_chain.invoke({"question": question})
    return resp
"""

In [26]:
def main_executor(question, sql):
    data = run_query(sql)
    prompt_chat = ChatPromptTemplate([
        ("system", "you are a staff member at a dvd rental store"),
        ("system", "use this data: {data} and this SQL Query : {sql} to write a natural language response, don't say that you are going to return the result of a query"),
        ("user", "{question}")
    ])
    
    chain = prompt_chat | llmResponse
    resp = chain.invoke({
                            "question": question,
                            "data": data,
                            "sql" : sql
                        })   

    return resp

In [27]:
user_question = 'cuales peliculas tiene rentadas el cliente con codigo 5 , dame los nombres de esas peliculas'
#user_question = 'cuantos actores hay en la base de datos?'
#for ct in range(0, 2):
sql = get_sql(sql_chain,user_question)
try:       
    print(sql)
    result = main_executor(user_question, sql)
    print(result)
    #break
except Exception  as error:
    print(f"Error: {error}") 
    if hasattr(error, 'statement'):
        print(error.statement)  
        sql += "'"
        result = main_executor(user_question, sql)
        print(result)
time.sleep(5)

SELECT film.title FROM rental JOIN inventory ON rental.inventory_id = inventory.inventory_id JOIN film ON inventory.film_id = film.film_id WHERE customer_id = 5
El cliente con código 5 ha rentado las siguientes películas: "Amistad Midsummer" y "Wasteland Divine".

In [534]:
prompt_chat = ChatPromptTemplate([
    ("system", "You are a PostgreSQL expert"),
    ("system", "use this data: {data} and this SQL Query : {sql} to write a natural language response, don't say that you are going to return the result of a query"),
    ("user", "{question}"),
    # Equivalently:
    # MessagesPlaceholder(variable_name="conversation", optional=True)
])
chain = prompt_chat | llmResponse
chain.invoke({"question": 'devuelveme un listado de 3 peliculas que contenga el titulo de cada film y la cantidad de actores de cada una de ellas.',
            "data":run_query('SELECT f.title, COUNT(a.actor_id) AS num_actors FROM film f JOIN film_actor fa ON f.film_id = fa.film_id JOIN actor a ON fa.actor_id = a.actor_id GROUP BY f.film_id ORDER BY f.title LIMIT 3;'
                            ),
            "sql" : 'SELECT f.title, COUNT(a.actor_id) AS num_actors FROM film f JOIN film_actor fa ON f.film_id = fa.film_id JOIN actor a ON fa.actor_id = a.actor_id GROUP BY f.film_id ORDER BY f.title LIMIT 3;'
             })

'El título de tres películas junto con la cantidad de actores en cada una son:\n\n*   Academy Dinosaur (10)\n*   Ace Goldfinger (4)\n*   Adaptation Holes (5)  |'

In [419]:
def chain_sql_fixer(sql, error, schema):
    promptx = f"""
    Corrects the following SQL query and returns only the corrected query without explanations or comments(use the error provided and the schema):
    
    Schema: {schema}
    SQL: {sql}
    Error: {error}
    """
    return llm.invoke(promptx)

In [266]:
chain_sql_fixer("SELECT title FROM film WHERE rating = 'PG-13")

"    SELECT title FROM film WHERE rating = 'PG-13'\n   "

In [416]:
user_question = 'devuelveme un listado que contenga el titulo de cada film y la cantidad de actores de cada una de ellas.'
sql_chain.invoke({"question": user_question})

'SELECT f.title, COUNT(a.actor_id) AS num_actors\nFROM film f\nLEFT JOIN film_actor fa ON f.film_id = fa.film_id\nLEFT JOIN actor a ON fa.actor_id = a.actor_id\nGROUP BY f.film_id'

In [415]:
user_question = 'Devuelveme los nombres de los tres clientes con el monto de pago mas alto?'
sql_chain.invoke({"question": user_question})

'SELECT first_name, last_name, MAX(amount) AS max_payment FROM payments JOIN customers ON payments.customer_id = customers.customer_id GROUP BY first_name, last_name ORDER BY max_payment DESC LIMIT 3'

In [14]:
template2 = """Question: {question}
Answer: Answer the question using the language you are asked in."""
prompt = ChatPromptTemplate.from_template(template2)
model = ChatOllama(model="hf.co/SanctumAI/Meta-Llama-3.1-8B-Instruct-GGUF:Q6_K")
chain = prompt | model
chain.invoke({"question": "What is the square area?"})

'Square area refers to a two-dimensional shape with four equal sides and four right angles. To find its area, we need the length of one side. If "s" is the length of one side, then the square\'s area can be calculated using the formula: A = s^2, where "A" represents the area. For instance, if a square has sides of 5 units in length, its area would be 25 square units (5^2 = 25). In short, the square area is the result of squaring the length of one side. |'

In [ ]:
messages = [
    (
        "system",
        """Based on the table schema below, write a SQL query that would answer the user's question: {schema}
        Question: {question}
        <End Query/>""",
    ),
    ("human", "I love programming."),
]

In [187]:

promptx = f"""
Corrige la siguiente consulta SQL y devuelve únicamente la consulta corregida sin explicaciones ni comentarios:

SELECT title FROM film WHERE rating = 'PG-13
"""
llm.invoke(promptx)

"SELECT title FROM film WHERE rating = 'PG-13' ;"

In [178]:
tokenizer = LlamaTokenizer.from_pretrained("llama3_instruct_8b_en")

ImportError:
LlamaTokenizer requires the SentencePiece library but it was not found in your environment. Checkout the instructions on the
installation page of its repo: https://github.com/google/sentencepiece#installation and follow the ones
that match your environment. Please note that you may need to restart your runtime after installation.